# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science
* Addition and multiplication with comments
* Converting minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. matplotlib
3. pandas

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| GitHub |
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
mins = 200
hours = mins/60
print(mins," mins = ", hours," hours")

200  mins =  3.3333333333333335  hours

## Author
Utsav Majumdar